.heading-before-line{
	padding-top: 4px;
	text-transform: uppercase;
}
.heading-before-line::before{
	content: "";
	float: left;
	position: relative;
	width: 3px;
	height: 25px;
	background: #d84315;
	margin-right: 5px;
	top: -2px;
}
thead > tr {
    border-top: 1px solid #444;
}
.table > thead > tr > th {
    border-bottom: 1px solid #333;
}
.table, a {
    color: #333;
}
.box{
	padding: 25px;
}
.add-button {
    color: #3c8dbc;
    font-size: 30px;
    cursor: pointer;
}
.search-box{
  margin-bottom: 20px;
}
.search-box>input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../img/searchicon.png');
    background-position: 10px 8px; 
    background-repeat: no-repeat;
    padding: 5px 20px 5px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search-box>input[type=text]:focus {
    width: 200px;
}
.box-body{
	padding-top: 0px;
}
.box-header{
    padding-bottom: 0px;
}
hr{
    margin-top:0px;
}
.btn-margin{
    margin-top:15px;
}
.image-upload {
    cursor: pointer;
    background-color: #bdc3c7;
    color: #ecf0f1;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    overflow: hidden;
    max-width: 400px;
}

.mat-login-heading{
    font-size: 1.2rem;
    font-weight: bolder;
}
.l-m-heading{
    font-size: 1.5rem;
}

#footer {
    position:fixed;
    bottom:0;
    width: 100%;
}

.image-round {
    border-radius: 50%;
    width: 100%;
    max-width: 45px;
    height: auto;
}

.image-profile{
    max-width: 160px;
}